# explained why  in python whole is an object

Python represents all its data as objects. <br />
Some of these objects like lists and dictionaries are mutable, <br />
meaning you can change <br />
their content without changing their identity. Other <br />
objects like integers, floats, strings and tuples are <br />
objects that can not be changed. An easy way to understand <br />
that is if you have a look at an objects ID.<br />
Below you see a string that is immutable.<br />
You can not change its content. It will raise a <br />
TypeError if you try to change it. Also, if we assign <br />
new content, a new object is created instead of the contents being modified.<br />

In [3]:
a = 'Food'
b = 'Food'

print(id(a))
print(id(b))
print(a is b)
a == b

True
4512664368
4512664368

True

In [ ]:
a = 100
b = 100
print(id(a))
print(id(b))

In [19]:
this tell us both a and b refer to the same object. <br />
Python optimizes resources by making two names that <br />
refer to the same string value refer to the same object. <br />

4545481488
4545481488

this tell us both a and b refer to the same object. <br />
Python optimizes resources by making two names that <br />
refer to the same string value refer to the same object. <br />

In [8]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)
b == a

False

True

This mean a and b have the same value but do not refer to the same object. <br />
### Alising
if we assign one variable to another, both variables refer to the same object:<br />
Because the same list has two different names, a and b, we say that it is aliased. <br />
Changes made with one alias affect the other.

In [13]:
b = ['Python', 'OOP', ':)']
a = b
# Is like a = 0x1223 b = 0x1223 reference at the same point of memory
b[0] = 5
print(b)
a

[5, 'OOP', ':)']

[5, 'OOP', ':)']

> Although this behavior can be useful, <br />
> it is sometimes unexpected or undesirable. <br />
> In general, it is safer to avoid <br />
> aliasing when you are working with mutable objects <br />

In [18]:
old_list = [1, 2, 3] * 2
# to modificate the list, there are a quite method
# this is the more faster 
new_list = old_list.copy()
print(new_list)
new_list = old_list[:]
print(new_list)
new_list = list(old_list)
new_list

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

MUTABLES VS INMUTABLES

Los objetos mutables se usan para representar valores que cambian con el tiempo.

In [3]:
mi_variable_inmutable = "algo, algo más"
print("mi_variable_inmutable (id: {}): {}".format(id(mi_variable_inmutable), mi_variable_inmutable))

def mi_funcion(var_de_func):
    print("var_de_func antes de retornar (id: {}): {}".format(id(var_de_func), var_de_func))
    var_de_func += ", añadido"
    print("var_de_func (id: {}): {}".format(id(var_de_func), var_de_func))
    return var_de_func

retorno_de_funcion = mi_funcion(mi_variable_inmutable)
print("retorno_de_funcion (id: {}): {}".format(id(retorno_de_funcion),retorno_de_funcion))

print("mi_variable_inmutable después de función (id: {}): {}".format(id(mi_variable_inmutable), mi_variable_inmutable))

mi_variable_inmutable (id: 4577504880): algo, algo más
var_de_func antes de retornar (id: 4577504880): algo, algo más
var_de_func (id: 4577504784): algo, algo más, añadido
retorno_de_funcion (id: 4577504784): algo, algo más, añadido
mi_variable_inmutable después de función (id: 4577504880): algo, algo más

In [4]:
4577504880 is 4577504880

True

In [5]:
4577504880 == 4577504880

True

In [9]:
unique_identifier = 42
age = 24
skills = ("Python", "pandas", "scikit-learn")
info = (unique_identifier, age, skills)
print(id(unique_identifier))
print(id(age))
print(id(info))
print(info)

unique_identifier = 50
age += 1
skills = skills + ("machine learning", "deep learning")
print(id(unique_identifier))
print(id(age))
print(id(info))
print(info)

4538034592
4538034016
4576494768
(42, 24, ('Python', 'pandas', 'scikit-learn'))
4538034848
4538034048
4576494768
(42, 24, ('Python', 'pandas', 'scikit-learn'))

In [1]:
a = 1
b = 1
c = 1
print('id the a = {}\nid the b = {}\nid the c = {}'.format(id(a), id(b), id(c)))

id the a = 4314694784
id the b = 4314694784
id the c = 4314694784

In [2]:
a = b = c = 1 
print('id the a = {}\nid the b = {}\nid the c = {}'.format(id(a), id(b), id(c)))

id the a = 4314694784
id the b = 4314694784
id the c = 4314694784

In [19]:
def f(counter=89):
    print(counter)
print(f(12))

12
None

In [7]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [11]:
a = list(range(10, 0, -2))
a

[10, 8, 6, 4, 2]

In [12]:
a = {'friends': [{'id':82, 'name': 'bob'}]}

In [18]:
a.get('friends')[-1].get('name')

'bob'

Reference: <br />
http://www.openbookproject.net/thinkcs/python/english2e/ch09.html#objects-and-values